.WOD__type_RX{
    color: white;
    position: relative;
    text-decoration: none;
}
.WOD__type_RX:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -0.25rem;
    left: -1.5rem;
    width: 20vw;
    border-radius: 10vw;
    background-color: black;
    z-index: -1;
}
