:root{
    --rx-button-color: hsl(16, 100%, 50%);
    --scaled-button-color: hsl(16, 100%, 100%);
}

html{
    height: -webkit-fill-available;
}

body{
    height: webkit-fill-available;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: whitesmoke; */
    color: rgb(66, 66, 66);
}

h1{
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.3rem;
}

h2{
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 1.8rem;
}

ul{
    list-style: none;
}

li{
    font-family: 'Varta', sans-serif;
    font-weight: 200;
    line-height: 2;
    font-size: 1rem;
}


p{
    font-family: 'Varta', sans-serif;
    font-weight: 200;
    line-height: 2;
    font-size: 1rem;
}

h3{
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 5rem;
    color: orangered;
}

h4{
    font-family: 'Varta', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.3rem;
}

h5{
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.3rem;

}

button{
    font-family: 'Varta', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.3rem;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.22);
    background-color: transparent;
    color: #787878;
}
