.reset{
    margin-inline: auto;
    border: none;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0 , 0, 0.4);
    margin-block: 1.5rem 1rem;
    transition: 300ms;
    width: 8rem;
    height: 3rem;
    border-radius: 3rem;
}

.reset:active{
    background-color: #B11116;
    color: white;
    font-weight: bold;
}